*,
*::before,
*::after {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  color: #6d5d4b;
  font: 300 1rem/1.6 "Nunito", sans-serif;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #c69963;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 75em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-rows: 6rem 80vh min-content max-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

.heading-primary,
.heading-tertiary,
.heading-quaternary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-primary {
  color: #f9f7f6;
  font-size: 4.5rem;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 3.7rem;
  }
}

.heading-secondary {
  color: #54483a;
  font: italic 400 4rem/1 "Josefin Sans", sans-serif;
}

@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 3.3rem;
  }
}

.heading-tertiary {
  color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading-quaternary {
  font-size: 1.9rem;
}

.heading-quaternary--light {
  color: #fff;
}

.heading-quaternary--dark {
  color: #54483a;
}

.btn {
  color: #fff;
  font: 400 1.5rem "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #c69963;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  background: #b28451;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.5rem 2.5rem;
  align-items: start;
}

.feature__icon {
  grid-row: 1 / span 2;
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  transform: translateY(-1rem);
}

.feature__paragraph {
  font-size: 1.7rem;
}

.home {
  flex: 0 0 calc(35.4% - 7rem);
  background: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

@media only screen and (max-width: 75em) {
  .home {
    flex: 0 0 40rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .home {
    flex: 0 0 45.7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .home {
    flex: 0 0 37rem;
  }
}

.home__img {
  width: 100%;
  grid-column: 1 / -1;
}

.home__like {
  width: 2.5rem;
  height: 2.5rem;
  fill: #c69963;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.home__name {
  grid-column: 1 / -1;
  width: 80%;
  color: #fff;
  font: 400 1.6rem "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
  background: #101d2c;
  padding: 1.6rem;
  transform: translateY(-50%);
  justify-self: center;
  align-self: end;
  z-index: 3;
}

.home__list {
  grid-column: 1 / -1;
  padding: 1.5rem 2.25rem 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem 2.5rem;
}

.home__item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home__icon {
  width: 2rem;
  height: 2rem;
  fill: #c69963;
}

.home .btn {
  grid-column: 1 / -1;
}

.seen-on {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seen-on__text {
  width: max-content;
  color: #aaa;
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.seen-on__text::before, .seen-on__text::after {
  width: 30rem;
  height: 1px;
  content: "";
  background: #aaa;
  transform: translateY(1.25rem);
}

@media only screen and (max-width: 75em) {
  .seen-on__text::before, .seen-on__text::after {
    width: 27rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .seen-on__text::before, .seen-on__text::after {
    width: 13rem;
  }
}

.seen-on__logo-box {
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

@media only screen and (max-width: 75em) {
  .seen-on__logo-box {
    gap: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .seen-on__logo-box {
    gap: 2rem;
  }
}

.seen-on__logo {
  max-width: 100%;
  max-height: 2.5rem;
  filter: brightness(70%);
}

@media only screen and (max-width: 37.5em) {
  .seen-on__logo {
    max-width: 100%;
    max-height: 1.75rem;
  }
}

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  gap: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .features {
    margin: 10rem 0;
  }
}

.footer {
  grid-column: full-start / full-end;
  background: #101d2c;
  padding: 8rem;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  gap: 2rem;
}

.footer__link {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
  display: block;
  transition: all .2s;
}

.footer__link:hover {
  background: rgba(255, 255, 255, 0.05);
  transform: translateY(-0.5rem);
}

.footer__copyright {
  color: #aaa;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 8rem;
}

.gallery {
  grid-column: full-start / full-end;
  background: #f9f7f6;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: repeat(7, 5vw);
  grid-template-columns: repeat(8, 1fr);
  gap: 1.5rem;
}

.gallery__item:nth-of-type(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.gallery__item:nth-of-type(2) {
  grid-row: 1 / 4;
  grid-column: 3 / 6;
}

.gallery__item:nth-of-type(3) {
  grid-row: 1 / 3;
  grid-column: 6 / 7;
}

.gallery__item:nth-of-type(4) {
  grid-row: 1 / 3;
  grid-column: 7 / -1;
}

.gallery__item:nth-of-type(5) {
  grid-row: 3 / 6;
  grid-column: 1 / 3;
}

.gallery__item:nth-of-type(6) {
  grid-row: 4 / 6;
  grid-column: 3 / 5;
}

.gallery__item:nth-of-type(7) {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}

.gallery__item:nth-of-type(8) {
  grid-row: 3 / 5;
  grid-column: 6 / 8;
}

.gallery__item:nth-of-type(9) {
  grid-row: 3 / 6;
  grid-column: 8 / -1;
}

.gallery__item:nth-of-type(10) {
  grid-row: 6 / -1;
  grid-column: 1 / 2;
}

.gallery__item:nth-of-type(11) {
  grid-row: 6 / -1;
  grid-column: 2 / 4;
}

.gallery__item:nth-of-type(12) {
  grid-row: 6 / -1;
  grid-column: 4 / 5;
}

.gallery__item:nth-of-type(13) {
  grid-row: 5 / -1;
  grid-column: 5 / 8;
}

.gallery__item:nth-of-type(14) {
  grid-row: 6 / -1;
  grid-column: 8 / -1;
}

.gallery__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  grid-column: full-start / col-end 6;
  background: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg) center/cover;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  justify-content: start;
  gap: 1.5rem;
}

@media only screen and (max-width: 56.25em) {
  .header {
    grid-column: full-start / full-end;
    justify-content: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    text-align: center;
    padding: 4rem;
  }
}

.header__logo {
  height: 3rem;
  justify-self: center;
}

.header .btn {
  align-self: start;
  justify-self: start;
}

@media only screen and (max-width: 37.5em) {
  .header .btn {
    justify-self: center;
  }
}

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .homes {
    margin: 10rem 0;
  }
}

.realtors {
  grid-column: col-start 7 / full-end;
  text-align: center;
  background: #101d2c;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .realtors {
    grid-column: full-start / full-end;
  }
}

.realtors__list {
  text-align: left;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: min-content max-content;
  justify-content: center;
  align-items: center;
  gap: 5vh 2rem;
}

.realtors__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.realtors__sold {
  color: #aaa;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: -3px;
}

.sidebar {
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  background: #c69963;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 75em) {
  .sidebar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-right: 3rem;
    justify-content: flex-end;
    align-items: center;
  }
}

.sidebar__btn {
  margin-top: 4rem;
}

@media only screen and (max-width: 75em) {
  .sidebar__btn {
    margin-top: 0;
  }
}

.sidebar__btn, .sidebar__btn::before, .sidebar__btn::after {
  width: 4.5rem;
  height: 2px;
  background: #fff;
}

.sidebar__btn::before, .sidebar__btn::after {
  content: "";
  display: block;
}

.sidebar__btn::before {
  transform: translateY(-1.2rem);
}

.sidebar__btn::after {
  transform: translateY(1rem);
}

.story__pictures {
  grid-column: full-start / col-end 4;
  background: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .story__pictures {
    grid-row: 6 / 7;
    grid-column: full-start / full-end;
    padding: 6rem;
  }
}

.story__photo--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 56.25em) {
  .story__photo--1 {
    grid-row: 1 / -1;
    grid-column: 1 / 5;
  }
}

.story__photo--2 {
  width: 115%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 5;
}

@media only screen and (max-width: 56.25em) {
  .story__photo--2 {
    width: 100%;
    grid-row: 1 / -1;
  }
}

.story__content {
  grid-column: col-start 5 / full-end;
  background: #f9f7f6;
  padding: 3rem 8vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .story__content {
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
  }
}

.story__paragraph {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem 0 2rem;
}
/*# sourceMappingURL=style.css.map */