.footer {
    grid-column: full-start / full-end;
    background: $color-secondary;
    padding: 8rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        align-items: center;
        gap: 2rem;
    }

    &__link {
        color: $color-white;
        font-family: $font-display;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        cursor: pointer;
        display: block;
        transition: all .2s;

        &:hover {
            background: rgba($color-white,.05);
            transform: translateY(-.5rem);
        }
    }

    &__copyright {
        color: $color-grey-light-2;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 8rem;
    }
}