.header {
    grid-column: full-start / col-end 6;
    background: linear-gradient(
        rgba($color-secondary,.93),
        rgba($color-secondary,.93)),
        url(../img/hero.jpeg) center/cover;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    justify-content: start;
    gap: 1.5rem;

    @include respond(tab-port) {
        grid-column: full-start / full-end;
        justify-content: center;
    }

    @include respond(phone) {
        text-align: center;
        padding: 4rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    .btn {
        align-self: start;
        justify-self: start;

        @include respond(phone) {
            justify-self: center;
        }
    }
}